*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
    text-align: center;
}
body{

    background-image: linear-gradient(90deg,#014601,#04db04);
    font-family: 'Roboto', sans-serif;
}
.conteiner{
    margin: auto;
    margin-top: 5%;
    display: grid;
    justify-content: center;
    align-content:center;
    min-height: 100%;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: minmax(50px,auto) 50px 50px 50px 50px 50px ;
}
.operand{
    grid-column: 1/-1;
    background:black;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    padding:5px;
    justify-content:space-around;
    word-wrap: break-word;
    word-break: break-all;   
}
.previous-operand{
    font-size: 13px;
}
.current-operand{
    font-size: 18px;
}
.button{
    display:inline-block;
    cursor:pointer;
    background-color:rgb(42, 42, 42);
    
}
.button-operand{
    background-color:rgba(161, 159, 159, 0.637)
}
.button-clear{
    grid-column-start: 1;
    grid-column-end: 3;
}
.point{
    grid-column-start: 1;
    grid-column-end: 3;

}
.button:hover{
    background-color: rgb(26, 26, 26);
}